html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type='button']:-moz-focusring,
[type='reset']:-moz-focusring,
[type='submit']:-moz-focusring {
  outline: 1px dotted solid;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type='checkbox'],
[type='radio'] {
  box-sizing: border-box;
  padding: 0;
}

[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
  height: auto;
}

[type='search'] {
  outline-offset: -2px;
}

[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.unifrakturcook-bold {
  font-family: 'UnifrakturCook', cursive;
  font-weight: 700;
  font-style: normal;
}

.lato-bold {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-thin {
  font-family: 'Roboto', sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings: 'wdth' 100;
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  font-family: 'Roboto', sans-serif;
  box-sizing: inherit;
  font-size: 18px;
  font-weight: 300;
  padding: 0;
  margin: 0;
}

a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
  position: relative;
  display: inline-block;
}

li {
  list-style: none;
}

picture {
  display: block;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

input:focus-visible {
  border: none;
}

body {
  background-color: #1c1c1c;
  color: #ffffff;
}

.wrapper {
  width: 1200px;
  margin: 0 auto;
}

.title {
  font-size: 48px;
}

.page {
  padding: 150px 0;
  background: linear-gradient(130.68deg, #414141 0%, #2d2d2d 100.52%);
}

.page__content {
  position: relative;
  width: 600px;
  margin: 0 auto;
  border-radius: 14px;
}

.page__decoration-1 {
  position: absolute;
  top: 20px;
  border-radius: 50%;
  width: 792px;
  height: 792px;
  border: 89px solid #e4e4e4;
  box-shadow: 0px 4px 70px 0px #ffffff40;
}

.page__decoration-2 {
  position: absolute;
  width: 486px;
  height: 486px;
  border-radius: 50%;
  border: 55px solid #00c4f0;
  box-shadow: 0px 4px 70px 0px #00c1ec40;
}

.page__decoration-3 {
  position: absolute;
  width: 356px;
  height: 356px;
  border-radius: 50%;
  border: 34px solid #e2a200;
  box-shadow: 0px 4px 70px 0px #e2a20040;
}

.page__image {
  position: absolute;
  border-radius: 14px;
  padding: 25px;
  background: #2c2c2c;
  z-index: 6;
}

.page__thumb {
  box-shadow: 0px 0px 0px 6px #686868;
}

.page__container {
  position: relative;
  z-index: 5;
  width: 600px;
  margin: 0 auto;
  border-radius: 14px;
  background-color: #2c2c2c;
  padding: 63px;
}

.page__header {
  margin-bottom: 36px;
}

.page__anchor {
  position: relative;
  top: -90px;
}

.page__text {
  font-size: 20px;
  line-height: 150%;
  word-spacing: 4px;
  text-wrap: balance;
}

.header {
  position: fixed;
  display: flex;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  height: 78px;
  background-color: #1c1c1c;
}

.header__content {
  display: flex;
  justify-content: space-between;
}

.header__logo {
  display: flex;
}

.header__title {
  display: flex;
  align-items: center;
  font-family: 'UnifrakturCook', cursive;
  padding-left: 10px;
  font-size: 20px;
  font-weight: 700;
}

.header__list {
  display: flex;
  gap: 145px;
  height: 48px;
}

.header__item {
  display: flex;
  align-items: center;
}

.header__link {
  font-weight: 400;
}

.header__link::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background: #e2a300;
  bottom: -2px;
  left: 0;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.3s ease;
}

.header__link:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

main {
  padding-top: 200px;
}

.hero__content {
  display: flex;
  justify-content: space-between;
}

.hero__info {
  width: 450px;
}

.hero__header {
  margin-bottom: 25px;
}

.hero__anchor {
  position: relative;
  top: -200px;
}

.hero__title {
  font-family: Lato, sans-serif;
  font-weight: 700;
  font-size: 72px;
}

.hero__title--decoration {
  font-family: Lato, sans-serif;
  font-weight: 600;
  font-size: 50px;
  border-bottom: #e2a300 4px solid;
}

.hero__article {
  margin-bottom: 27px;
}

.hero__social-title {
  padding-left: 40px;
  font-weight: 700;
  font-size: 34px;
  margin-bottom: 20px;
}

.hero__list {
  width: fit-content;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px 50px;
  margin-bottom: 150px;
}

.hero__link {
  display: flex;
  flex-wrap: nowrap;
  padding: 10px 30px;
  border-radius: 18px;
  background: linear-gradient(87.32deg, #e2a300 4.47%, #e29500 95.53%);
  box-shadow: 0px 2px 13px 0px #e29e007a;
  align-items: center;
}

.hero__link:hover {
  background: #ca8701;
}

.hero__name {
  font-weight: 700;
  color: #000;
  margin-left: 10px;
}

.hero__image {
  position: relative;
  width: 600px;
}

.hero__decoration {
  position: absolute;
  border-radius: 50%;
}

.hero__decoration-1 {
  top: -40px;
  left: 20px;
  width: 700px;
  height: 700px;
  border: 50px solid #00c4f0;
  box-shadow: 0px 8px 70px 1px #00c1ec40;
  z-index: 1;
}

.hero__decoration-2 {
  top: -64px;
  left: -4px;
  width: 750px;
  height: 750px;
  border: 34px solid #e2a200;
  box-shadow: 0px 4px 70px 0px #e2a20040;
  z-index: 2;
}

.hero__pic {
  position: absolute;
  top: 15px;
  left: 60px;
}

.about__decoration-1 {
  left: -460px;
}

.about__decoration-2 {
  bottom: -85px;
  right: -280px;
}

.about__decoration-3 {
  top: -17px;
  right: -220px;
}

.about__image-1 {
  top: -40px;
  left: -300px;
  width: 330px;
  height: 400px;
}

.about__image-2 {
  top: 26%;
  right: -260px;
  width: 310px;
  height: 485px;
}

.about__image-3 {
  bottom: 60px;
  left: -270px;
  width: 308px;
  height: 340px;
}

.hobbies {
  padding: 100px 0 150px;
}

.hobbies__header {
  margin-bottom: 50px;
  text-align: center;
}

.hobbies__anchor {
  position: relative;
  top: -170px;
}

.hobbies__content {
  display: flex;
  gap: 40px;
  align-items: center;
}

.hobbies__button {
  background: linear-gradient(87.32deg, #e2a300 4.47%, #e29500 95.53%);
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hobbies__button:hover {
  background: #ca8701;
}

.hobbies__list {
  position: relative;
  overflow: hidden;
  display: flex;
  width: 970px;
  height: 600px;
}

.hobbies__item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(130.68deg, #414141 0%, #2d2d2d 100.52%);
  border-radius: 29px;
  box-shadow: 0px 4px 15px 0px #1b1b1b47;
  padding: 50px;
}

.active {
  transform: translateX(0);
  transition: 0.9s ease-in-out;
}

.right {
  transform: translateX(120%);
  transition: 0.9s ease-in-out;
}

.hidden {
  display: none;
}

.left {
  transform: translateX(-120%);
  transition: 0.9s ease-in-out;
}

.item__content {
  display: flex;
  gap: 74px;
}

.item__pic {
  width: 500px;
  height: 500px;
  border-radius: 29px;
  background-color: #c4c4c4;
  overflow: hidden;
}

.item__pic:hover .item__thumb {
  transform: scale(1.1);
  transition: 1s;
}

.item__thumb {
  background-size: cover;
  border-radius: 29px;
  transform: scale(1);
  transition: 1s;
}

.item__info {
  width: 296px;
}

.item__header {
  padding: 32px 0 25px;
  text-align: center;
}

.item__title {
  font-weight: 400;
  font-size: 24px;
}

.item__article {
  text-align: center;
}

.item__text {
  text-wrap: balance;
  line-height: 150%;
  word-spacing: 4px;
}

.think__decoration-1 {
  right: -460px;
}

.think__decoration-2 {
  top: -85px;
  left: -280px;
}

.think__decoration-3 {
  bottom: -17px;
  left: -220px;
}

.think__image-1 {
  top: -40px;
  right: -300px;
  width: 330px;
  height: 400px;
}

.think__image-2 {
  top: 26%;
  left: -260px;
  width: 310px;
  height: 485px;
}

.think__image-3 {
  bottom: 60px;
  right: -270px;
  width: 308px;
  height: 340px;
}

.footer {
  padding: 50px 0;
  background: linear-gradient(101.56deg, #2c2c2c 1.56%, #1c1c1c 95.55%);
}

.footer__content {
  display: flex;
  justify-content: space-evenly;
}

.footer__list {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.footer__link {
  font-weight: 200;
  color: #e4e4e4;
}

.footer__link:hover {
  color: #ffffff;
}

.footer__contacts {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footer__contacts-title {
  color: #e4e4e4;
  font-weight: 400;
  font-size: 22px;
  text-align: center;
}

.footer__contacts-list {
  display: flex;
  gap: 40px;
}

.footer__contacts-link {
  background: linear-gradient(87.32deg, #e2a300 4.47%, #e29500 95.53%);
  box-shadow: 0px 2px 13px 0px #e29e007a;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__contacts-link:hover {
  background: #ca8701;
}

.footer__header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__title {
  font-family: 'UnifrakturCook', cursive;
  font-size: 24px;
  font-weight: 700;
  display: flex;
  align-items: center;
}
